body {
    padding: 0;
    margin: 0;
}

.toolbar {
    border: none;
    border-bottom: solid 1px #3a312c;
    color: #bdae98;
    background: #1a110c;
    padding: 4;
}

.button {
    border: none;
    color: #bdae98;
    background: #1a110c;
    padding: 0;
    text-decoration: none;
}

#editor {
    cursor:text !important;
    margin:0;
    padding:0;
    z-index:-1;
}

*:focus {
    outline: 0;
}
