body {
    padding: 0;
    margin: 0;
}

.toolbar {
    border: none;
    border-bottom: solid 1px #3a312c;
    color: #bdae98;
    background: #1a110c;
    padding: 2;
}

.button {
    border: none;
    color: #bdae98;
    background: #2a211c;
    padding: 0;
    text-decoration: none;
}
