#despin-button {
  list-style-image: url("chrome://despin/skin/logo-24.png");
}

toolbar[iconsize="small"] #despin-button {
  list-style-image: url("chrome://despin/skin/logo.png");
}

#despintoolsmenu {
  list-style-image: url("chrome://despin/skin/logo.png");
}
