body {
    background: white;
    padding: 0;
    margin: 0;
}

.toolbar {
    display: none;
}

.button {
    display: none;
}

#editor {
    display: none;
}

#printable-contents {
    display: inline;
    width: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    float: none !important;
    color: black;
    background: transparent;
    font-size: 12pt;
    font: 1em Courier, monospace, serif;
}
